a.mnu {text-decoration:none; font-size: 8Pt; font-family: verdana; color:white; font-weight:bold;}
a.mnu:hover {text-decoration:none; font-size: 8Pt; font-family: verdana; color:#3366ff; font-weight:bold;}
div.mnu {text-decoration:none; font-size: 8Pt; font-family: verdana; color:white; font-weight:bold;}
span.mnu {text-decoration:none; font-size: 8Pt; font-family: verdana; color:white; font-weight:bold;}
a.dis {text-decoration:none; font-size: 8Pt; font-family: verdana; color:silver; font-weight:bold;}
a.dis:hover {text-decoration:none; font-size: 8Pt; font-family: verdana; color:#3366ff; font-weight:bold;}
table.dis {text-decoration:none; font-size: 8Pt; font-family: verdana; color:silver; font-weight:bold;}
table.dis:hover {text-decoration:none; font-size: 8Pt; font-family: verdana; color:#3366ff; font-weight:bold;}
.portcosts1 {width:7em;border-style:none;font-family: verdana;font-size:12pt;background-color:$color_line1;color:#c0c0c0;}
.portcosts2 {width:7em;border-style:none;font-family: verdana;font-size:12pt;background-color:$color_line2;color:#c0c0c0;}
.headlines {text-decoration:none; font-size:8Pt; font-family:verdana,Arial,san-serif; font-weight:bold; color:white;}
.headlines:hover {text-decoration:none; color:#3366ff;}
.faderlines {background-color:$color_line2;}
.nav          { text-decoration: none; }
.nav:link     { text-decoration: none; color: lime;}
.nav:visited  { text-decoration: none; color: lime;}
.nav:hover    { text-decoration: none; color: yellow;}
